/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-perspective: 600px;
          perspective: 600px;
  min-height: 100vh;
  -webkit-transition: all 3s;
  transition: all 3s;
  background-color: #f69d3c;
  background: -webkit-gradient(linear, left top, right top, from(#3f87a6), color-stop(#ebf8e1), to(#f69d3c));
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}

body:hover {
  -webkit-perspective: 900px;
          perspective: 900px;
}

.avengers {
  margin-top: 5rem;
  width: 300px;
  height: 300px;
  position: relative;
  -webkit-transition: all 10s;
  transition: all 10s;
  -webkit-transform: rotateZ(0) rotateX(0) rotateY(0);
          transform: rotateZ(0) rotateX(0) rotateY(0);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.avengers:hover {
  -webkit-transform: rotateZ(0deg) rotateX(90deg) rotateY(310deg);
          transform: rotateZ(0deg) rotateX(90deg) rotateY(310deg);
}

.faces {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: all 3s;
  transition: all 3s;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.faces:nth-child(1) {
  background-image: url(./assets/IRON-2008-d7a2706.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transform-origin: center top;
          transform-origin: center top;
  -webkit-transform: rotate(90deg) translateX(-150px);
          transform: rotate(90deg) translateX(-150px);
}

.faces:nth-child(2) {
  background-image: url(./assets/the-details-hidden-in-Thor-1-and-2.img.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transform-origin: center left;
          transform-origin: center left;
  -webkit-transform: rotate(90deg) translateX(-150px);
          transform: rotate(90deg) translateX(-150px);
}

.faces:nth-child(3) {
  background-image: url(./assets/Chris-Evans-Marvel-Captain-America.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transform-origin: center right;
          transform-origin: center right;
  -webkit-transform: rotate(90deg) translateX(-150px);
          transform: rotate(90deg) translateX(-150px);
}

.faces:nth-child(4) {
  background-image: url(./assets/maxresdefault.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transform-origin: center left;
          transform-origin: center left;
  -webkit-transform: rotate(90deg) translateX(150px);
          transform: rotate(90deg) translateX(150px);
}

.faces:nth-child(5) {
  background-image: url(./assets/Natasha-RomanoffBlack-Widow.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  -webkit-transform: rotate(90deg) translateX(-150px);
          transform: rotate(90deg) translateX(-150px);
}

.faces:nth-child(6) {
  background-image: url(./assets/jeremy-renner-hawkeye.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  -webkit-transform: rotate(90deg) translateX(150px);
          transform: rotate(90deg) translateX(150px);
}
/*# sourceMappingURL=style.css.map */